
#header{
    height: 48px;
    background: #85b839;
}
#header-wrapper{
    height: 48px;
    /* background: #ff0000; */
    width: 1200px;
    margin:0 auto;
    line-height: 48px;
}
.header-left{
    float: left;
    color:#fff;

}
.header-right{
    float:right;
}
#list-language{
    position: relative;
    /* 鼠标滑过手状 */
    cursor: pointer;
}
.sub-list{
    /* background: #ff0000; */
    position: absolute;
    left:0px;
    top:48px;
    width: 175px;
    /* css3语法 边框阴影 水平偏移 垂直偏移 模糊度 外延值 颜色 */
box-shadow:0 0 6px 1px rgba(0,0,0,0.1);
    display: none;
}
.sub-list li{
    color:#888;
    line-height: 46px;
    text-indent:20px; /*文本首行缩进*/
}
.sub-list li:hover{
    color:#85B839;
    background: #f1f1f1;
    /* 鼠标划入手状 */
    cursor: pointer;
}
/* 后代选择器 */
.header-right .list{
    float: left;
    /* margin 第一个垂直 第二个 水平 */
    margin: 0 9px;
    color:white;
}

/* header2 开始 */
#header2{
    width: 1200px;
    /* 水平居中 */
    margin:0 auto;
    /* background: #ff0000; */
    height: 153px;
}
.header2-logo{
    float: left;
    margin-top:50px;
    margin-right:185px;
}
.header2-search{
    float: left;
    width: 584px;
    height: 45px;
    border:1px solid #eee;
    margin-top:50px;
    border-radius: 23px;
}
.search-left{
    width: 154px;
    float: left;
    height: 45px;
    line-height: 45px;
    color:#888;
    text-align: center;
}
.search-line{
    float: left;
    color:#888;
    margin-top:12px;
}
.search-right{
    float:right;
}
.search-ipt{
    width: 368px;
    height: 43px;
    border:none;
    /* 去掉input选中蓝边框 */
    outline: none;
    color:#888;
    float: left;
}
.search-btn{
    width: 40px;
    height: 43px;
    background: url(images/search.png) no-repeat 10px 11px;
    border:none;
    float: right;
}
.header2-info{
    float: right;
    /* background: #ff0000; */
    position: relative;
}
.info-bag{
    margin-top:60px;
    margin-right:40px;
}
.count{
    position: absolute;
    left: 24px;
    top: 38px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #84b839;
    color: #fff;
    text-align: center;

}

/* 轮播图开始 */
.slide-container{
    width: 773px;
    height: 597px;
    background: #eeeeee;
    /* 溢出隐藏 */
    overflow: hidden;
    position: relative;
}
.img-box{
    width:2319px;
    height:597px;
}
.img-box img{
    width: 773px;
    height: 597px;
}
.img-box li{
    float: left;
}
.btn-box{
    position: absolute;
    bottom: 27px;
    left:355px;
}
.btn-box li{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ccc;
    float: left;
    margin-right: 10px;
}

.btn-box .active{
    background: #84b839;
    width:20px;
}
/* 轮播图结束 */