
#header{
    height: 48px;
    background: #85b839;
}
#header-wrapper{
    height: 48px;
    /* background: #ff0000; */
    width: 1200px;
    margin:0 auto;
    line-height: 48px;
}
.header-left{
    float: left;
    color:#fff;

}
.header-right{
    float:right;
}
#list-language{
    position: relative;
    /* 鼠标滑过手状 */
    cursor: pointer;
}
.sub-list{
    /* background: #ff0000; */
    position: absolute;
    left:0px;
    top:48px;
    width: 175px;
    /* css3语法 边框阴影 水平偏移 垂直偏移 模糊度 外延值 颜色 */
box-shadow:0 0 6px 1px rgba(0,0,0,0.1);
    display: none;
}
.sub-list li{
    color:#888;
    line-height: 46px;
    text-indent:20px; /*文本首行缩进*/
}
.sub-list li:hover{
    color:#85B839;
    background: #f1f1f1;
    /* 鼠标划入手状 */
    cursor: pointer;
}
/* 后代选择器 */
.header-right .list{
    float: left;
    /* margin 第一个垂直 第二个 水平 */
    margin: 0 9px;
    color:white;
}

/* header2 开始 */
#header2{
    width: 1200px;
    /* 水平居中 */
    margin:0 auto;
    /* background: #ff0000; */
    height: 153px;
}
.header2-logo{
    float: left;
    margin-top:50px;
    margin-right:185px;
}
.header2-search{
    float: left;
    width: 584px;
    height: 45px;
    border:1px solid #eee;
    margin-top:50px;
    border-radius: 23px;
}
.search-left{
    width: 154px;
    float: left;
    height: 45px;
    line-height: 45px;
    color:#888;
    text-align: center;
}
.search-line{
    float: left;
    color:#888;
    margin-top:12px;
}
.search-right{
    float:right;
}
.search-ipt{
    width: 368px;
    height: 43px;
    border:none;
    /* 去掉input选中蓝边框 */
    outline: none;
    color:#888;
    float: left;
}
.search-btn{
    width: 40px;
    height: 43px;
    background: url(images/search.png) no-repeat 10px 11px;
    border:none;
    float: right;
}
.header2-info{
    float: right;
    /* background: #ff0000; */
    position: relative;
}
.info-bag{
    margin-top:60px;
    margin-right:40px;
}
.count{
    position: absolute;
    left: 24px;
    top: 38px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #84b839;
    color: #fff;
    text-align: center;

}

/* 轮播图开始 */
#swipe-box{
    overflow: hidden;
}
.slide-container{
    width: 773px;
    height: 597px;
    background: #eeeeee;
    /* 溢出隐藏 */
    overflow: hidden;
    position: relative;float: left;
}
.img-box{
    width:2319px;
    height:597px;
    position: absolute;
    left:0px;
    top:0px;
}
.img-box img{
    width: 773px;
    height: 597px;
}
.img-box li{
    float: left;
}
.btn-box{
    position: absolute;
    bottom: 27px;
    left:355px;
}
.btn-box li{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ccc;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.btn-box .active{
    background: #84b839;
    width:20px;
}
/* 轮播图结束 */
/* banner开始 */
.banner-container{
    width: 377px;
    float:right;
    margin-right:30px;
}
.banner-list{
    width: 347px;
    height: 290px;
    border-radius: 8px;
    padding-left:30px;
    /* 怪异盒模型 */
    /* box-sizing: border-box; */
}
.banner-list h2{
    font-size: 29px;
    line-height: 32px;
    font-weight: 600;
    width: 182px;
    /* margin-top:60px; */
    padding-top:60px;
}
.banner-list p{
    padding-top:8px;
    color:#888;
    font-size: 16px;
    line-height: 22px;
    width: 182px;
}
.banner-list button{
    width: 109px;
    height: 40px;
    background: #85b839;
    color:#fff;
    border-radius: 20px;
    margin-top:10px;
    font-weight: bold;
    cursor: pointer;
}
.banner-list button:hover{
    background: #000;
}
.banner-list1{
    background: url(images/banner-1.jpg);
    margin-bottom: 17px;
}
.banner-list2{
    background: url(images/banner-2.jpg);
}

/* banner结束 */
/* deal开始 */
.deal-title{
    height: 150px;
    /* background: #cccccc; */
    position: relative;
}
.title-line{
    width: 345px;
    height: 2px;
    background: #85B839;
    position: absolute;
    top:87px;
    left:50%;
    margin-left:-173px;
}
.title-txt{
    color:#222222;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top:63px;
    left:50%;
    /* margin-left: */
    /* css3 水平向左挪动自己宽度的一半 */
    transform:translateX(-50%);
    background: white;
    padding:0 10px;

}
/* deal-list */
.deal-list-box{
    overflow: hidden;
}
.deal-list{
    width:1800px;
}
.deal-list li{
    width: 270px;
    height: 422px;
    border:1px solid #F1F1F1;
    border-radius: 8px;
    float: left;
    margin:0 15px;
    padding:20px 20px 30px 20px;
    /* 怪异盒模型  所占的宽度 是width值 不管你添加padding还是border,只会讲内容区域的宽度缩小  */
    box-sizing: border-box;
    background: #f8f8f8;
    position: relative;
    cursor: pointer;
}
.deal-list li:hover .deal-big{
    display: inline;
}
.deal-list li:hover .deal-cart{
    bottom:0px;
}
.deal-list li .list-img{
    width: 228px;
    height: 228px;
}
.timer-box{
    overflow: hidden;
}
.time-list{
    width: 49px;
    height: 50px;
    background:#85B839   ;
    border-radius: 50%;
    float: left;
    margin-right:10px;
    color:#fff;
    text-align: center;
}
.time-list:last-child{
    margin-right: 0px;
}
.time-list p:first-child{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-top:5px;
}
.time-list p:last-child{
    font-size: 13px;
}
.deal-list h3{
    font-size: 16px;
    font-weight: 600;
    color:#333333;
    text-align: center;
    margin:10px 0 4px 0;
}
.star-box{
    margin-left:81px;
}
.star{
    float: left;
    width:13px;
    height:13px;
    background:url(images/start.png) 0 0 no-repeat;
    background-size:13px 13px;
}
.star-active{
    background-image: url(images/star-active.png);
}
.deal-new{
    width: 48px;
    height: 22px;
    background: #85B839 ;
    color:#fff;
    text-align: center;
    line-height: 22px; 
    position: absolute;
    left:20px;
    top:20px;
    border-radius: 11px;
    font-weight: 700;
    font-size: 12px;
}
.deal-like{
    position: absolute;
    right:20px;
    top:20px;
    width: 18px;
    height: 18px;
    background: url(images/live.png) 0 0 no-repeat;
    background-size:18px 18px;
    cursor: pointer;

}
.deal-like:hover{
    background-image: url(images/like-active.png);
}
.deal-big{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:50%;
    background:rgba(255,255,255,0.7);
    /* 水平 垂直挪自己宽高的50% */
    transform: translate(-50%,-120%);
    display: none;
}
.deal-big:hover{
    background:#85B839;
}
.deal-cart{
    position: absolute;
    bottom: -108px;
    left:0px;
    height: 108px;
    background: #f8f8f8;
    width:100%;
    /* css3 添加过渡效果  过度属性  执行时间 运动方式 */
    transition: bottom 0.4s linear ;
}
.deal-cart button{
    width: 228px;
    height: 42px;
    background: #fff;
    border:1px solid #85B839;
    border-radius: 21px;
    text-align: center;
    line-height: 42px;
    color:#000;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-weight: 700;
}
.deal-cart button:hover{
    background: #85B839;
    color:#fff;
}